@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Rosarivo:ital@0;1&display=swap');
/* color variables for the website */
:root {
    --card-height: 350px;
    --card-width: calc(var(--card-height) / 1);
    --base-color: #342E29;
    --darkbase-color: #201E1C;
    --selection-color: #8d262192;
    --light-color: #E8D8BD;
    --yellow-color: #F7CF63;
    --bright-color: #E1A730;
    --accent-color: #740516;
    --yellowbrown-color: #6f5f3e;
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--selection-color);
}

body {
    font-family: "Rosarivo", serif;
    background-color: var(--base-color);
    cursor: url(images/elements/curser.svg), auto;
}


/*header and nav*/
.logo {
    width: 70px;
}

header {
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
}

header nav { 
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    margin: 0;
    text-decoration: none;
    color: var(--light-color);
    padding: 0 1.5rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}


/*main (parallax code)*/
main {
    background-image: linear-gradient(var(--darkbase-color), var(--base-color));
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
} 

.parallax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(.2, .49, .32, .99);
}

.fog {
    position: absolute;
    z-index: 1;
    width: 159.72%;
    top: calc(50% + 290px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.hanging_stars {
    position: absolute;
    z-index: 2;
    width: 1350px;
    top: calc(50% - 100px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.portrait {
    position: absolute;
    z-index: 3;
    width: 390px;
    top: calc(50% - 70px);
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.spiral1 {
    position: absolute;
    z-index: 4;
    width: 1275px;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.spiral2 {
    position: absolute;
    z-index: 5;
    width: 1275px;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
}

/*title css code*/
.text {
    position: absolute;
    z-index: 6;
    top: calc(50% - 10px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: white;
    pointer-events: auto;
}

.text h1 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 800;
    font-size: 8rem;
    letter-spacing: 15px;
    text-shadow: 0 0 10px var(--yellow-color), 2px 2px 0px #f7cf6300;
}

.text h1:hover {
    text-shadow: 0 0 20px var(--yellow-color), 2px 2px 0px #f7cf6300;
}

/*subtext css code*/
.subtext {
    position: absolute;
    z-index: 7;
    top: calc(50% + 280px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: var(--light-color);
    pointer-events: auto;
}

.subtext h2 {
    font-weight: 100;
    font-size: 1.4rem;
    letter-spacing: 10px;
}

.particles {
    position: absolute;
    z-index: 8;
    width: 1500px;
    top: calc(50% - 5px);
    left: calc(50% + 0px);
    transform: translate(-50%, -50%);
}

/*button directed to the gallery section*/
.view {
    position: absolute;
    z-index: 9;
    top: calc(50% + 360px);
    left: 50%;
    transform: translate(-50%, -50%);

    border: none;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    margin: 7px 5px;
    letter-spacing: 5px;
    transition-duration: 0.4s;
    font-family: "Rosarivo", serif;

    background-color: var(--accent-color); 
    color: white; 
    border-radius: 20px;
    cursor: pointer;
}

.view:hover {
    background-color: white;
    color: var(--accent-color);
    
    box-shadow: 0 0 10px var(--yellow-color), 2px 2px 0px #f7cf6300;
}

/*icon to be directed to my instagram*/
.media {
    position: absolute;
    z-index: 10;
    top: calc(50% + 360px);
    left: calc(50% + 620px);
    transform: translate(-50%, -50%);
}

.media a {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.media i {
    font-size: 2em;
    color: var(--light-color);
    opacity: 0.9s;
}

.media a:hover i {
    color: var(--accent-color);
    transition: 0.5s
}


/*about container, information section*/
.about-container {
    padding: 0 15%;
    background-color: var(--light-color); 
}

.about {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 30px 40px 30px 40px;
    background-color: var(--darkbase-color);
}

.about-img {
    width: 800px;
    height: 750px;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    animation: picture 5s ease-in-out infinite;
    animation-delay: 2s;
}

/*the animation for the picture in that section*/
@keyframes picture {
    0%{
        transform: translateY(0);
    }

    50% {
        transform: translateY(-22px);
    }

    100% {
        transform: translateY(0);
    }
}

.about-text span {
    font-weight: bolder;
    color: var(--bright-color);
    font-size: 1.2rem;
    letter-spacing: 3px;
    margin-bottom: 15px;
    .about-text span {
        font-size: 1rem;
    }
    
    .about-text h2 {
        font-size: 3.4rem;
    }
    
    .about-text p {
        font-size: 1.1rem;
        letter-spacing: 3px;
    }
}

.about-text h2 {
    font-family: "Cinzel Decorative", serif;
    color: white;
    font-weight: 800;
    font-size: 4rem;
    letter-spacing: 15px;

    text-shadow: 0 0 10px var(--yellow-color), 2px 2px 0px #f7cf6300;
}

.about-text:hover h2 {
    color: var(--selection-color);
    transition: 0.5s;

    text-shadow: none;
}

.about-text p {
    color: var(--light-color);
    font-size: 1.5rem;
    letter-spacing: 3px;
}


/*showcase cards container*/
.showcase-container {
    margin: 0;
    padding: 10% 5%;
    background-image: linear-gradient(var(--darkbase-color), var(--base-color));
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr 0.5fr; 
    grid-template-rows: 0.9fr; 
    gap: 5px 20px; 
    grid-template-areas: 
        "card-1 card-2"; 
    justify-items: center; 
    align-items: center; 
    width: 100%;
    height: 100vh;
}

/*grid area*/
.card-1 { grid-area: card-1; }
.card-2 { grid-area: card-2; }
  

.card {
    width: var(--card-width);
    height: var(--card-height);

    position: relative;
    display: flex;
    align-items: center;
    
    perspective: 2500px;
    cursor: url(images/elements/curserhover.svg), auto;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    background: var(--darkbase-color);
    box-shadow: #201e1cc3 0 14px 28px, #201e1cc3 0 10px 10px;
}

.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    box-shadow: #201e1c3a 0 14px 28px, #201e1c1e 0 10px 10px;
}

.wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top, transparent 46%, #201d1c8a 68%, #251a1757 97%);
}

.wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(to bottom, transparent 46%, #201d1c8a 68%, #251a1757 97%);
}

.img-transt {
    width: 100%;
    opacity: 0;
    position: absolute;
    transition: all 0.5s;
    filter: drop-shadow(2px 2px 2px #201E1C);
    z-index: -1;
}

.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px #201e1c9b;
    -webkit-box-shadow: 2px 35px 32px -8px #201e1c9b;
    -moz-box-shadow: 2px 35px 32px -8px #201e1c9b;
}

.card:hover .wrapper::after,
.wrapper::before {
    opacity: 1;
}

.card:hover .wrapper::after {
    height: 120px;
}

.card:hover .wrapper::before {
    opacity: 1;
}

.card:hover .img-transt {
    opacity: 1;
    transform: translate3d(5%, -30%, -50px);
}

.showcase-container .card p {
    padding-bottom: 10px;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: white;
    text-align: center;
    justify-self: center; 
    align-self: end; 
    text-shadow: 0 0 10px var(--yellow-color), 2px 2px 0px #f7d06326;
}

.wrapper img {
    box-shadow: #00000040 0 14px 28px, #00000038 0 10px 10px;
}


/*gallery container, with a download the images*/
.gallery-container {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(var(--base-color), var(--yellowbrown-color));
}

.gallery-title {
    padding: 50px 30px 0 30px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #f0e9de;
}

.gallery-title img {
    justify-items: center;
    align-items: center;
    width: 100%;
}

.gallery-title h3{
    font-family: "Cinzel Decorative", serif;
    font-size: 5rem;
    letter-spacing: 15px;
    text-shadow: 0 0 10px #F7CF63, 2px 2px 0px #f7cf6300;
}


.gallery {
    background-image: url("images/elements/pattern.svg");
    background-repeat: repeat;

    margin: 0;
    padding: 0 100px 40px 100px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 50px;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "secrets moon fallen"
    "tranquillity peaking stella"
    "beach woman ErosPsyche"; 
    width: 100%;
    height: 100%;
}

/*grid area*/
.secrets { grid-area: secrets; }
.tranquillity { grid-area: tranquillity; }
.moon { grid-area: moon; }
.peaking { grid-area: peaking; }
.fallen { grid-area: fallen; }
.stella { grid-area: stella; }
.beach { grid-area: beach; }
.woman { grid-area: woman; }
.ErosPsyche { grid-area: ErosPsyche; }


.gallery .picture img {
    box-shadow: 0 4px 8px 0 var(--darkbase-color), 0 6px 20px 0 #00000073;
    height: auto;
    width: auto;
    transition-duration: 0.4s;
}

.gallery .picture img:hover {
    box-shadow: 0 4px 8px 0 #edd5926d, 0 6px 20px 0 #edd5926d;
}

.gallery .picture p {
    margin: 0;
    text-align: center;
    color: var(--light-color);

    font-weight: 400;
    font-size: 1.2rem;
    font-style: italic;
    letter-spacing: 1.3px;
    transition-duration: 0.4s;
}

.gallery .picture p:hover {
    text-shadow: 0 0 5px var(--yellow-color), 2px 2px 0px #f7cf6300;
}


.imgs {
    max-height: 100%;
    max-width: 100%;
    border-radius: 20px;
    border: 2px solid var(--bright-color);
    padding: 0;
    margin-bottom: 10px;
}

.dl {
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
    text-align: center;
    float: right;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 3px;

    font-family: "Rosarivo", serif;
    background-color: var(--light-color); 
    color: var(--yellowbrown-color); 
    border-radius: 20px;
    font-weight: 400;

    transition-duration: 0.4s;
    cursor: url(images/elements/curserhover.svg), auto;
}

.dl:hover {
    background-color: var(--selection-color);
    color: var(--light-color);
    
}


.reveal {
    transform: translateY(25px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: rotateY(0px);
    opacity: 1;
}

/*footer, copyright and license clause*/
.license {
    width: 100%;
    padding: 70px 30px 20px;
    background-color: var(--darkbase-color);
}


.license {
    padding: 20px;
    text-align: center;
}

.license p {
    font-size: 15px;
    font-style: italic;
    letter-spacing: 2px;
    color: var(--light-color);
}


/*The @media below dictate the website accroding to the width, 780px, 480px, 380px, 320px*/
@media only screen and (max-width: 780px) {
    .logo {
        width: 50px;
    }

    .text h1 {
        font-size: 5.8rem;
    }

    .subtext h2 {
        font-size: 1.3rem;
        letter-spacing: 4px;
    }

    header ul a {
        font-size: 1rem;
        padding: 0 0.9;
    }

    .media {
        left: calc(50% + 300px);
    }

    .media a {
        font-size: 1.2rem;
    }

    .about-container {
        padding: 70px 4%
    }

    .about {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .about-text {
        order: 2;
    }

    .about-img {
        margin: auto;
        height: auto;
        width: auto;
    }

    .about-img img {
        max-width: 400px;
        width: 100%;
        height: auto;
    }

    .showcase-container {
        background-color: #342E29;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 80px 20px; 
        grid-template-areas: 
            "card-1"
            "card-2"; 
        justify-items: center; 
        align-items: center; 
    }

    .card {
        width: 250px
    }
    
    .gallery-title h3 {
        font-size: 3.7rem;
    }

    .descr p {
        padding-bottom: 15px;
        font-size: 1.5rem;
        letter-spacing: 3px;
        color: #ffffff;
        text-align: center;
        text-shadow: 0 0 10px #F7CF63, 2px 2px 0px #f7cf6300;
    }

    .gallery {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
          "secrets moon"
          "tranquillity fallen"
          "peaking stella"
          "woman beach"
          "ErosPsyche ."; 
    }

    .gallery .card p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .text h1 {
        font-size: 3.5rem;
    }

    .subtext {
        top: calc(50% + 190px);
    }

    .subtext h2 {
        font-size: 1rem;
        letter-spacing: 4px;
    }

    .fog {
        width: 159.72%;
        top: calc(50% + 330px);
    }

    .hanging_stars {
        width: 495px;
        top: calc(50% - 300px);
    }

    .portrait {
        width: 270px;
    }

    .spiral1 {
        width: 1050px;
    }

    .spiral2 {
        width: 1050px;
    }

    .view {
        top: calc(50% + 300px);
        font-size: 13px;
        letter-spacing: 5px;
    }

    .media {
        top: calc(50% + 305px);
        left: calc(50% + 190px);
    }

    .media a {
        font-size: 1rem;
    }

    .about-text span {
        font-size: 1rem;
    }
    
    .about-text h2 {
        font-size: 3.4rem;
    }
    
    .about-text p {
        font-size: 1.1rem;
        letter-spacing: 3px;
    }

    

    .gallery-title h3{
        font-size: 2.6rem;
        letter-spacing: 11px;
    }
    
    .gallery { 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
        padding: 0 25px 40px 25px;
        grid-template-areas: 
          "secrets"
          "moon"
          "fallen"
          "tranquillity"
          "peaking"
          "stella"
          "beach"
          "woman"
          "ErosPsyche"; 
    }

    .dl {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 380px) {
    header ul a {
        padding: 0 0.7rem;
        font-size: 1rem;
    }

    .text h1 {
        font-size: 2.9rem;
    }

    .subtext {
        top: calc(50% + 160px);
    }

    .subtext h2 {
        font-size: 1rem;
        letter-spacing: 4px;
    }

    .fog {
        top: calc(50% + 370px);
    }

    .hanging_stars {
        width: 450px;
        top: calc(50% - 270px);
    }

    .portrait {
        width: 240px;
    }

    .spiral1 {
        width: 800px;
    }

    .spiral2 {
        width: 800px;
    }

    .view {
        top: calc(50% + 250px);
        font-size: 10px;
        letter-spacing: 5px;
    }

    .media {
        top: calc(50% + 255px);
        left: calc(50% + 150px);
    }

    .media a {
        font-size: 1rem;
    }

    .about-text span {
        font-size: 0.9rem;
        letter-spacing: 2px;
    }
    
    .about-text h2 {
        font-size: 2.1rem;
        letter-spacing: 13px;
    }
    
    .about-text p {
        width: 250px;
        font-size: 0.7rem;
        letter-spacing: 2px;
        text-align: justify;
        text-justify: inter-word;
    }

    .gallery {
        padding: 0 40px 40px 40px;
    }

    .gallery-title h3{
        font-size: 2rem;
        letter-spacing: 11px;
    }

    .gallery .picture p {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 320px) {
    .logo {
        width: 35px;
    }

    header nav { 
        padding: 0 1rem;
    }
    
    header ul a {
        padding: 0 0.7rem;
        font-size: 0.8rem;
    }

    .text h1 {
        font-size: 2rem;
    }

    .subtext {
        top: calc(50% + 150px);
    }

    .subtext h2 {
        font-size: 0.6rem;
        letter-spacing: 4px;
    }


    .fog {
        top: calc(50% + 230px);
    }

    .hanging_stars {
        width: 400px;
        top: calc(50% - 130px);
    }

    .portrait {
        top: calc(50% - 30px);
        width: 200px;
    }

    .spiral1 {
        width: 650px;
    }

    .spiral2 {
        width: 650px;
    }

    .view {
        top: calc(50% + 190px);
        font-size: 7px;
        letter-spacing: 5px;
    }

    .media {
        top: calc(50% + 195px);
        left: calc(50% + 130px);
    }

    .media a {
        font-size: 0.7rem;
    }

    .about {
        gap: 20px
    }

    .about-text span {
        font-size: 0.7rem;
    }
    
    .about-text h2 {
        font-size: 2.1rem;
        letter-spacing: 6px;
    }
    
    .about-text p {
        width: 210px;
        font-size: 0.7rem;
        letter-spacing: 3px;
    }

    .gallery {
        padding: 0 20px 40px 20px;
    }

    .gallery-title h3{
        font-size: 1.4rem;
        letter-spacing: 8px;
    }
    
}